@import '../../../styles.scss';

section {
  padding: $padding;
  border-radius: 8px;

  .title {
    color: $font-color;
    margin-bottom: $margin;
  }

  .select-team-wrapper {
    display: flex;
    flex-direction: row;
  }

  .add-player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-family: $saira;
      font-weight: 300;
      margin-bottom: calc($padding / 4);
    }

    select {
      font-family: $saira;
      border: 1px solid $border-color;
      border-radius: 4px;
      font-size: 1rem;
      color: $font-color;
      background-color: #fff;
      margin-right: 5px;
      text-align: center;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    #button {
      background-color: $primary-color;
      color: #fff;
      padding: calc($padding / 2);
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:active {
        background-color: darken($primary-color, 15%);
      }

      &.loading {
        background-color: darken($color: $primary-color, $amount: 25%);
      }
    }
  }
}

@media screen and (max-width: 726px) {
  section {
    padding: calc($padding / 2);
  }
}
