@import '../../../styles.scss';

section {
    padding: 10px;
}

.heading-wrapper {
    background-color: $background-color;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 750px;
    margin: 0 auto;
    border-radius: 14px;
}

.player-team-wrapper {
    background-color: #fff;
    border-radius: 8px;
}