<section id="roster">
<table>
  <thead>
  <tr>
   <th>Name</th>
   <th>Height</th>
   <th>College</th>
   <th>Position</th>
   <th>NBA Start year</th>
   <th>Weight</th>
   <th>Date of Birth(YYYY-MM-DD)</th>
   <th>Country</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.fullName }}</td>
      <td>{{ player.height }}</td>
      <td>{{ player.college }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.NBAstartYear }}</td>
      <td>{{ player.weight }}</td>
      <td>{{ player.DOB }}</td>
      <td>{{ player.country }}</td>
    </tr>
  </tbody>
</table>
</section>