<section id="roster">
<table>
  <thead>
  <tr>
   <th>Name</th>
   <th>Position</th>
   <th>Height</th>
   <th>Weight</th>
   <th>College</th>
   <th [class.hide-cell]="isSmallScreen">NBA Start year</th>
   <th [class.hide-cell]="isSmallScreen">Date of Birth</th>
   <th>Country</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.fullName }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.height }}</td>
      <td>{{ player.weight }}</td>
      <td>{{ player.college }}</td>
      <td [class.hide-cell]="isSmallScreen">{{ player.NBAstartYear }}</td>
      <td [class.hide-cell]="isSmallScreen">{{ player.DOB }}</td>
      <td>{{ player.country }}</td>
    </tr>
  </tbody>
</table>
</section>
