@import '../../../styles.scss';

header {
  // background-color: $background-color;
  padding: $padding;
  // border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  border-right: 2px solid $primary-color; 

  .title {
    font-family: $koulen;
    font-weight: 400;
    font-style: normal;
    // height: 200px;
    color: $font-color;
    // margin-bottom: $padding;
    font-size: 3rem;

    .court {
      color: #1D428A; // NBA Blue
    }

    .stats {
      color: #C8102E; // NBA Red
    }
  }


  // p {
  //   color: $secondary-color;
  //   font-size: 1.2rem;
  // }  padding: 5px 10px;
}
