@import '../../../styles.scss';

$font-color: #212529;
$padding: 10px;

header {
  // background-color: $background-color;
  padding: calc($padding * 2);
  // border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  border-right: 2px solid $primary-color; 

  .title {
    color: $font-color;
    margin-bottom: $padding;
    font-size: 3rem;
  }

  // p {
  //   color: $secondary-color;
  //   font-size: 1.2rem;
  // }
}
