@import '../../../styles.scss';

header {
  padding: $padding;
  text-align: right;
  border-right: 2px solid $primary-color; 

  .title {
    font-family: $koulen;
    font-weight: 400;
    font-style: normal;
    color: $font-color;
    font-size: 3rem;

    .court {
      color: #1D428A; // NBA Blue
    }

    .stats {
      color: #C8102E; // NBA Red
    }
  }
}

@media screen and (max-width: 726px) {
  header {
  border-right: 0;
  border-bottom: 2px solid $primary-color;
  text-align: center;
  padding: calc($padding / 2);
  }
} 