/* You can add global styles to this file, and also import other style files */
/* NBA offical colors: */
$NBA-red: #C8102E;
$NBA-blue: #1D428A;

body {
  background-image: url("./assets/woodfloor.jpg");
}

h1 {
  color: #fff;
  margin: 0;
  padding-top: 15px;
}
