$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$font-color: #212529;
$border-color: #ced4da;
$padding: 20px;
$margin: 15px;
$border-radius: 14px;

body {
  background-image: url("./assets/woodfloor.jpg");
}

h1 {
  color: #fff;
  margin: 0;
  padding-top: 15px;
}
